.pageHeader {
    height: 50vh;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
  }
  
  .pageHeader img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    box-shadow: inset;
    box-shadow: 25px 25px 25px 0 rgba(0, 0, 0, 0.5);
    background-color: #fff;
    
   
  }
  
  .pageHeader > h1 {
    text-align: center;
  }

  .pageHeader > h1 {
    text-align: center;
  }
  
  .pageHeader > h1 span {
    color:#c87305;
  }
  
  .pageHeader > h1 span.green {
    color: rgba(6, 121, 6, 0.711);
  }
  
  .sidebar {
    height: 100%;
    position: absolute; 
    top: 500px; 
    left: 0;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: normal;
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  li {
    margin: 0;
    padding: 0;
  }
  
  .sidebar ul li a {
    display: block;
    padding: 15px;
    color: #fffdfd;
    text-decoration: none;
    background-color: #fff;
    margin-top: 10px;
    border: solid black 1px;
    background-color: #267803;
    border-radius: 10px;
  }
  
  .sidebar ul li a:hover {
    background-color: #c87305;
    color: #fff;
  }
  
  .sidebar ul li a.active {
    background-color: #c87305;
    color: #fff;
  }
  
  .sidebar ul li a.active:hover {
    background-color: #c87305;
    color: #fff;
  }

  main {
    margin-left: 220px;
    padding-top: 5vh;
  }
  
  .welcome-section {
    margin: 50px;
    border: solid black 1px;
    padding: 20px;
    background-color: rgb(227, 225, 225);
    shape-outside: margin-box;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  }
  .welcome-section h2{
    color: green;
  
  }
  
  .image-otter{
    max-width: 100%;
    max-height:100%;
    float: right;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
  
.gallery-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.gallery-item {
  border: 1px solid #ccc;
  padding: 10px;
  position: relative;
}

.gallery-item img {
  max-width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.gallery-item.zoom-in img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.5);
  z-index: 9999;
}

  